<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (event(); as eventRef) {
      <div>
        <h2 data-cy="eventDetailsHeading"><span>Event</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ eventRef.id }}</span>
          </dd>
          <dt><span>Saldo</span></dt>
          <dd>
            <span>{{ eventRef.saldo }}</span>
          </dd>
          <dt><span>Amount</span></dt>
          <dd>
            <span>{{ eventRef.amount }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ eventRef.description }}</span>
          </dd>
          <dt><span>Date Of Event</span></dt>
          <dd>
            <span>{{ eventRef.dateOfEvent | formatMediumDate }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Volver</span>
        </button>

        <button type="button" [routerLink]="['/event', eventRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
        </button>
      </div>
    }
  </div>
</div>
