<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (investment(); as investmentRef) {
      <div>
        <h2 data-cy="investmentDetailsHeading"><span>Investment</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ investmentRef.id }}</span>
          </dd>
          <dt><span>Start Date</span></dt>
          <dd>
            <span>{{ investmentRef.startDate | formatMediumDate }}</span>
          </dd>
          <dt><span>Start Amount</span></dt>
          <dd>
            <span>{{ investmentRef.startAmount }}</span>
          </dd>
          <dt><span>Current Value</span></dt>
          <dd>
            <span>{{ investmentRef.currentValue }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ investmentRef.description }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Volver</span>
        </button>

        <button type="button" [routerLink]="['/investment', investmentRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
        </button>
      </div>
    }
  </div>
</div>
